<!-- ./player/templates/player/list.html -->

{% extends 'base.html' %}

{% block title %}

<title>Expense List</title>

{% endblock title %}

{% block content %}
<h1>Expense Tracker</h1>

<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">More:</th>
    </tr>
  </thead>
  <tbody>
    {% for expense in expenses %}
    <tr>
      <th scope="row">{{ expense.expense_name }}</th>
      <td style=>{{ expense.expense_category }}</td>
      <td style=>{{ expense.description }}</td>
      <td style=>{{ expense.amount }}</td>
      <td style=>{{ expense.date }}</td>
      <td>
        <a href="{% url 'edit-expense' expense.id %}" class="btn btn-sm btn-primary">Edit</a>
        <a href="{% url 'delete-expense' expense.id %}" class="btn btn-sm btn-danger">Remove</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="text-center">
  <a href="{% url 'create-expense' %}">
  <button type="button" class="btn btn-danger">Add New Info</button>
</a>
</div>
<div style="margin-top: 20px; text-align: right;">
  <strong>Total Amount: €{{ total_amount }}</strong>
</div>

{% endblock content %}
